<div class="background-color uk-padding-large uk-light" uk-height-viewport="offset-top: true">
    <div class="uk-text-center uk-margin-medium-top">
        <h2>HABILIDADES DEL DESARROLLADOR</h2>
        </div>
    
    
    <div class="uk-modal-body uk-margin-medium-top uk-container-small" id="habilidades" uk-overflow-auto>
    
        <form class="uk-form-horizontal uk-margin-large">
    
            <div class="uk-margin">
                <label class="uk-form-label"  for="form-horizontal-text">Titulo: </label>
                <div class="uk-form-controls ">
                    <input class="uk-input" [(ngModel)]="habilidades.titulo" [ngModelOptions]="{standalone: true}" id="form-horizontal-text" type="text" >
                </div>
            </div>
            <div class="uk-margin ">
                <label class="uk-form-label" for="form-horizontal-text">Porcentaje: </label>
                <div class="uk-form-controls">
                    <input class="uk-input" [(ngModel)]="habilidades.porcentaje" [ngModelOptions]="{standalone: true}" id="form-horizontal-text" type="text" >
                </div>
            </div>
            <div class="uk-margin ">
                <label class="uk-form-label" for="form-horizontal-text">url_Imagen: </label>
                <div class="uk-form-controls">
                    <input class="uk-input" [(ngModel)]="habilidades.url_imagen" [ngModelOptions]="{standalone: true}" id="form-horizontal-text" type="text" >
                </div>
            </div>
            <div class="uk-text-right uk-margin-medium-top">
                <button class="uk-button uk-button-default uk-margin-right" (click)="addHabilidad()" type="button">GUARDAR</button>
                <button class="uk-button uk-button-default" (click)="cancel()" type="button">CANCELAR</button>
            </div>
        </form>
    </div>
</div>
