<div class="uk-light uk-background-cover" style="background-image: url(/assets/img/fondo-medio.png)">
    
    <div class="uk-text-center" uk-grid>
    
        <div class="uk-width-1-3@m uk-margin-top uk-margin-bottom">
            <h4>REDES SOCIALES</h4>
            <a href="https://www.facebook.com/ivan09.gonzalez"><img href="" src="/assets/icon/facebook.png" a width="50" ></a>
            <a href="http://twitter.com"><img class="uk-margin-small-left"  src="/assets/icon/twitter.png" width="50"></a>
            <a href="https://www.instagram.com/_axelivan/"> <img class="uk-border-circle uk-margin-small-left uk-margin-small-right"  src="/assets/icon/instagram.png" width="50"> </a> 
            <a href="https://github.com/Axelivan10">  <img class="uk-border-circle" src="/assets/icon/github3.jpg" width="50"></a>
              
        </div>
        <div class="uk-width-expand@m uk-margin-top uk-margin-bottom">
            <p>GRACIAS POR VISITAR CURRICULUM AXEL IVÁN GONZÁLEZ</p>
                <p>9848061802</p>
        </div>
        <div class="uk-width-expand@m uk-margin-top uk-margin-bottom">
            <p>PLAYA DEL CARMEN, QUINTANA ROO.</p>
        </div>
    </div>
    
</div>